body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: url("../images/background.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;

    text-align: center;
}

.intro__suptitle {
    margin-bottom: 20px;

    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}

.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;

    color: #fff;
}

.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}


/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Nav */
.nav {
    text-transform: uppercase;
    font-size: 14px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover,
.nav__link.active {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active::after {
    opacity: 1;
}


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 7px 35px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}


/* Slider */
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 24%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

.slider__item.active::before {
    content:"";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}


/* Section */
.section {
    padding: 90px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px ;

    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-weight: 700;
    font-size: 30px;
    color:#333;
    text-transform: uppercase;
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto ;

    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #a8a8a8;
}


/* About */
.about {
    padding-top: 60px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__item {
    width: 380px;

    background: #95e1d3;
}

.about__item:hover .about__img{
    transform: translate3d(-10px,-10px,0);
}

.about__img {
    background: linear-gradient(#f38181,#fce38a);
    
    transition: transform .2s linear;
    position: relative;
}

.about__img img {
    display: block;
    transition: opacity .2s linear;
}

.about__item:hover .about__img img {
    opacity: .1;
}

.about__text {
    width: 100%;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;

    transition: opacity .2s linear;
}

.about__item:hover .about__text {
    opacity: 1;
}


/* Stats */
.statistics {
    margin-top: 110px;

    background-color: #95e1d3;
}

.stat__inner {
    display: flex;
}

.stat__item {
    padding: 60px 25px;
    flex: 1 1 0;

    border-left: 1px solid #fff;
    
    color: #fff;
    text-align: center;
}

.stat__item:last-child {
    border-right: 1px solid #fff;
}

.stat__num {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}


/* Services */
.services {
    padding: 20px 0;
    display: flex;
}

.service__item {
    flex: 1 1 0;

    padding: 10px 15px;

    position: relative;

    font-size: 14px;
}

.service__icon {
    position: absolute;
    left: 10px;
    top: 20px;
}

.service__text {

    margin-left: 50px;

    margin-top: 5px;

    color: #a8a8a8;
}

.service__title {
    margin-left: 70px;

    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    
}


hr {
   opacity: .3; 
}


/* Devices */
.section--devices {
    padding-bottom: 0;

    background:
     url("../images/device_background.jpg")
     center no-repeat;
     background-size: cover;
}

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    position: relative;
}

.devices__item--ipad {
    width: 480px;
    height: 100%;
    
}

.devices__item--iphone {
    width: 250px;
    height: 450px;

    position: absolute;
    right: 0;
    bottom: -80px;
}


/* What we do */
.section--what_we_do{
    margin-top: 60px;
}

.what_we_do {
    display: flex;  
}

.what_we_do__item {
    flex: 1 1 0;
       
}

.accordion__item {
    border: 1px solid #e5e5e5;
    position: relative; 

    margin-bottom: 10px;
}

.accordion__item--active
.accordion__item__title::after {
    transform:
    rotate(45deg);
}

.accordion__item__icon {
    position: absolute;
    top: 5px;
    left: 5px;

    
}

.accordion__item__title {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: 700;
    padding: 10px 50px;

    border-bottom: 1px solid #e5e5e5;
}

.accordion__item__text{
    padding-left: 5px;
}

.accordion__item__title::after {
    content: "";
    display: block;

    width: 20px;
    height: 20px;

    position: absolute;
    right: 15px;
    top: 15px;

    border-top: 5px solid #cccccc;
    border-left: 5px solid #cccccc;

    transform: translateY(-50%)
    rotate(225deg);
}
